@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    height: 12px;
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #888;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background: #1864ab;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media screen and (max-width: 400px) {
    .authForm {
        zoom: 0.8;
    }
}

@media screen and (max-width: 300px) {
    .authForm {
        zoom: 0.7;
    }
}

.usersTable {
    width: 600px;
}

@media (max-width: 768px) {
    .usersTable {
        width: 100vw
    }
}

.clickable-cell {
    cursor: pointer
}

.empty-cell::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
